@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: white;
    font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.logo h1{
    background-color: #7181cb;
    color: white;
    padding: 6%;
    border-radius: 50%;
    text-align: center;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-bar a:hover{
    border-bottom:2px solid #7181cb ;
    
    
}
main{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
}
.texto-principal h2{
    font-size: 47px;
    width: 557px;
    color: black;
    margin-bottom: 20px;
}
.texto-principal p{
    font-size: 20px;
    color: #56535e;
    width: 446px;
    margin-bottom: 40px;
}
.texto-principal a{
    text-decoration: none;
    font-size: 19px;
    background-color:#7181cb ;
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 30px;

}
.texto-principal a:hover{
    background-color: #5264b8;
    
}
.resumo h2 span{
font-size: 36px;
border-bottom: 2px solid #7181cb;
padding-bottom: 5px;


}
.resumo p{
    text-align: center;
    color:#56535e ;
    font-size: 18px;
    width: 952px;
    
}
.cards{
      display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 70px; /* aqui você pode aumentar sem medo */
  max-width: 700px; /* largura máxima do grid */
  margin: 40px auto; /* centraliza na tela */
  justify-content: center;
    margin-top: 5%;
      row-gap: 40px; 
      margin-bottom: 10%;
}
.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid  #7181cb ;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
}
.card1 h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.card1 p{
    font-size: 17px;
    color: #56535e;
    margin-bottom: 10px;
}
.card1 a{
    color: #7181cb;
}
.video h2 span{
font-size: 36px;
border-bottom: 2px solid #ffffff;
padding-bottom: 5px;
color: white;}

.video{
    background-color: #7181cb;
    
    border-radius: 20px;
    margin: 0 auto;
    width: 1000px;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.paia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video p{
    text-align: center;
    color:#ffffff ;
    font-size: 18px;
    
}
footer{
    background-color: #7181cb;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16%;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}
.mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}
.mapa a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.quest{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.quest h1{
    font-size: 47px;
    margin-bottom: 25px;
}
.quest h1 span{
    border-bottom: 2px solid #5264b8;
}
.quest p{
    font-size: 18px;
    width:  952px ;
    text-align: center;
}
.formulario {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
 border: 2px solid #7181cb ;
}

/* Títulos de cada pergunta */
.pergunta {
  margin-bottom: 20px;
}

.pergunta label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
}

/* Inputs padrão */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #7181cb; /* deixa botões na cor principal */
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  
}

select:focus {
  border-color: #7181cb;
  
}

/* Botão enviar */
button {
  background: #7181cb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 17px;
  
  cursor: pointer;
 font-weight: bold;
  display: block;
  margin: 0 auto;
}

button:hover {
  background: #5a68a6;
 
}
.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9%;
}
.frase h2{
    font-size: 25px;
    border-bottom: 2px dashed #7181cb ;
    
    
}
.frase a{
    text-decoration: none;
    font-size: 19px;
    background-color:#7181cb ;
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.prin{
    margin: 0 auto;
    
}
.prin h1{
    font-size: 46px;
    margin-bottom: 10px;
}
.prin p{
    font-size: 20px;
    color: #56535e;
    text-align: center;
    margin-bottom: 40px;
}
.prin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prin a{
    text-decoration: none;
  color: #7181cb;
  border: 1px solid #7181cb;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 17px;
  width: 200px;
  cursor: pointer;
 font-weight: bold;
 text-align: center;
 margin-bottom: 5%;
  
 
}
.cards2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    margin-top: 5%;
}
.sim{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    justify-content: center;
}
.paia ul{
    list-style: none;
    
}
.paia ul li{
    margin-bottom: 20px;
    font-size: 20px;
}
.tabela{
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 9%;
}
.sintomas ul{
    list-style: none;
}
.sintomas h2 span{
    border-bottom:2px solid #7181cb ;
}
.sintomas h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.sintomas ul li{
    margin-bottom: 15px;
    font-size: 20px;
}

.dicas h2 span{
    border-bottom:2px solid #7181cb ;
}
.dicas h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.dicas ul li{
    margin-bottom: 15px;
    font-size: 20px;
}
.dicas ul{
    list-style: none;
}
.dicas ul li::before {
      content: "\2022"; /* Caractere de um ponto (bullet) */
      color:#7181cb ; /* Mude para a cor desejada, por exemplo, azul */
      display: inline-block;
      width: 1em; /* Ajuste a largura do marcador */
      margin-left: -1em; /* Ajuste para alinhamento */
    }